{% extends "alumnos/base.html"%}
{% load crispy_forms_tags %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles_cards.css' %}">
{% endblock %}

{% block title %}LISTA PRODUCTOS{% endblock %}
{% block content %}
<h1>LISTA DE PRODUCTOS</h1>
<br>
<div id="idMensajes">
      {% if mensaje %}
          {{mensaje}}
      {% endif %}
</div>
<div class="filter">
</div>
<div class="container" style="margin-top: 5%;">
   <table class="table">
      {% if productos %}
         <th scope="col" class="table-light"> ID </th>
         <th scope="col" class="table-light"> Producto </th>
         <th scope="col" class="table-light"> Precio </th>
         <th scope="col" class="table-light"> ID Categoria </th>
         <th scope="col" class="table-light"> Eliminar </th>
         <th scope="col" class="table-light"> Modificar </th>
         {% for x in productos %}
               <tr>
                  <td> {{x.id_producto}}
                  <td> {{x.producto}}
                  <td> {{x.precio}}
                  <td> {{x.id_categoria.categoria}}
                  <td> <button class="btn btn-success"><a href="{% url 'productos_findEdit' pk=x.id_producto%}" style="color: white;">Modificar</a></button>
                  <td> <button class="btn btn-danger"><a href="{% url 'productos_del' pk=x.id_producto%}" style="color: white;">Eliminar</a></button>
               </tr>
         {% endfor %}
      {% endif %}
   </table>
   <button type="button" class="btn btn-primary">
      <a href="{% url 'productosAdd' %}" style="color: white;"> Agregar</a>
   </button>
</div>
<script src="//ajax.goolgeapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
      $(document).ready(function(){
         $("#idMensajes").delay(2000).fadeOut("slow");
      });
</script>
{% endblock %}