{% extends "alumnos/base.html"%}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles_cards.css' %}">
{% endblock %}

{% block title %}AÑADIR PRODUCTOS{% endblock %}
{% block content %}
<div class="container" style="text-align: center; margin: 5%; margin-left: 20%;">
    <h2>Agregar Productos</h2>
    <form action="productosAdd" method="POST">
        {% csrf_token %}
        <pre>ID: <input type="text" class="form-control" name="idProducto"></pre>
        <pre>Producto: <input type="text" class="form-control" name="producto"></pre>
        <pre>Precio: <input type="text" class="form-control" name="precio"></pre>
        <pre>Imagen: <input type="file" class="form-control" name="imagen"></pre>
        <pre>Categoria: <select name="categoria" class="form-select">
            {% for categoria in categorias %}
                <option value="{{categoria.id_categoria}}">{{categoria.categoria}}</option>
            {% endfor %}
         </select></pre>
        <input type="submit" name="opcion" value="Agregar" class="btn btn-success">
    </form><br><br>
</div>
<div id="idMensajes" class="container">
    {% if mensaje %}
        {{mensaje}}
    {% endif %}
</div>
{% endblock %}