{% extends "alumnos/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles_cards.css' %}">
{% endblock %}

{% block title %}EDITAR PRODUCTOS{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            {% if producto %}
                <h2 class="text-center mb-4">Editar Producto</h2>
                <form action="{% url 'productosUpdate' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="idProducto" class="form-label">ID:</label>
                        <input type="text" class="form-control" id="idProducto" name="idProducto" value="{{ producto.id_producto }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="producto" class="form-label">Producto:</label>
                        <input type="text" class="form-control" id="producto" name="producto" value="{{ producto.producto }}">
                    </div>
                    <div class="mb-3">
                        <label for="precio" class="form-label">Precio:</label>
                        <input type="text" class="form-control" id="precio" name="precio" value="{{ producto.precio }}">
                    </div>
                    <div class="mb-3">
                        <label for="categoria" class="form-label">Categoría:</label>
                        <select name="categoria" id="categoria" class="form-select">
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id_categoria }}" {% if categoria.id_categoria == producto.categoria.id_categoria %} selected {% endif %}>{{ categoria.categoria }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-grid gap-2">
                        <input type="submit" name="opcion" value="Actualizar" class="btn btn-success">
                    </div>
                </form>
                <div class="mt-3">
                    <a href="{% url 'crud' %}" class="btn btn-primary">Volver</a>
                </div>
            {% endif %}
            <div id="idMensajes" class="mt-4">
                {% if mensaje %}
                    {{ mensaje }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
