{% extends "alumnos/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles_cards.css' %}">
{% endblock %}

{% block title %}AÑADIR PRODUCTOS{% endblock %}
{% block content %}
<div class="container" style="text-align: center; margin: 5%; margin-top: 10%;">
    <h2>Agregar Productos</h2>
    <form class="container-sm" action="{% url 'productosAdd' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="idProducto" class="form-label">ID:</label>
            <input type="text" class="form-control" id="idProducto" name="idProducto">
        </div>
        <div class="mb-3">
            <label for="producto" class="form-label">Producto:</label>
            <input type="text" class="form-control" id="producto" name="producto">
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio:</label>
            <input type="text" class="form-control" id="precio" name="precio">
        </div>
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoría:</label>
            <select name="categoria" id="categoria" class="form-select">
                {% for categoria in categorias %}
                    <option value="{{ categoria.id_categoria }}">{{ categoria.categoria }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" name="opcion" value="Agregar" class="btn btn-success">Agregar</button>
    </form>
</div>
<div id="idMensajes" class="container">
    {% if mensaje %}
        {{ mensaje }}
    {% endif %}
</div>
{% endblock %}
