{% extends "alumnos/base.html"%}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles_cards.css' %}">
{% endblock %}

{% block title %}EDITAR PRODUCTOS{% endblock %}
{% block content %}
<div class="container" style="text-align: center;  margin: 5%; margin-left: 20%;"">
    {% if producto %}
        <h2>Agregar Productos</h2> <br>
        <form action="{% url 'productosUpdate' %}" method="POST">
            {% csrf_token %}
            <pre>ID: <input type="text" class="form-control" name="idProducto" value="{{producto.id_producto}}"></pre>
            <pre>Producto: <input type="text" class="form-control" name="producto" value="{{producto.producto}}"></pre>
            <pre>Precio: <input type="text" class="form-control" name="precio" value="{{producto.precio}}"></pre>
            <pre>Categoria: <select name="categoria" class="form-select" >
            {% for categoria in categorias %}
                <option value="{{categoria.id_categoria}}">{{categoria.categoria}}</option>
            {% endfor %}
            </select></pre>
            <input type="submit" name="opcion" value="Actualizar" class="btn btn-success">
            <button class="btn btn-primary"> <a href="{% url 'crud' %}" style="color: white;">Volver</a></button>
        </form><br><br>
    {% endif %}
    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    <br><br>
    
</div>
{% endblock %}