{% extends "alumnos/base.html"%}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles_cards.css' %}">
{% endblock %}
{% block title %}PRODUCTOS{% endblock %}
{% block content %}
<div class="container__card" style="margin-bottom: 20%;">
    <h1>PRODUCTOS</h1>
    <br><br>
    <h2>PLANTAS</h2>
    <div class="card__container">
        {% for planta in plantas %}
            <article class="card__article">
                <img src="{{ planta.imagen.url }}" alt="{{ planta.nombre }}" class="card__img producto-imagen">

                <div class="card__data">
                <span class="card__description">XXXXXXXXXXXXXX</span>
                <h2 class="card__title card-title">{{ planta.producto }}</h2>
                <a href="#" class="card__button btn btn-primary precio-btn" data-precio="{{ planta.precio }}">{{ planta.precio }}</a>
                </div>
            </article>
        {% endfor %}
    </div>
    <h2>MACETEROS</h2>
    <div class="card__container" >
        {% for x in maceteros %}
            <article class="card__article">
                <img src="{{ x.imagen.url }}" alt="{{ x.nombre }}" class="card__img producto-imagen">

                <div class="card__data">
                <span class="card__description">XXXXXXXXXXXXXX</span>
                <h2 class="card__title card-title">{{ x.producto }}</h2>
                <a href="#" class="card__button btn btn-primary precio-btn" data-precio="{{ x.precio }}">{{ x.precio }}</a>
                </div>
            </article>
        {% endfor %}
    </div>
    <h2>TIERRAS</h2>
    <div class="card__container" >
        {% for x in tierras %}
            <article class="card__article">
                <img src="{{ x.imagen.url }}" alt="{{ x.nombre }}" class="card__img producto-imagen">

                <div class="card__data">
                <span class="card__description">XXXXXXXXXXXXXX</span>
                <h2 class="card__title card-title">{{ x.producto }}</h2>
                <a href="#" class="card__button btn btn-primary precio-btn" data-precio="{{ x.precio }}">{{ x.precio }}</a>
                </div>
            </article>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% for categoria in categorias %}
    <h2>{{ categoria.categoria }}</h2>
    {% for producto in productos %}
            <article class="card__article">
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="card__img producto-imagen">

                <div class="card__data">
                <span class="card__description">XXXXXXXXXXXXXX</span>
                <h2 class="card__title card-title">{{ producto.producto }}</h2>
                <a href="#" class="card__button btn btn-primary precio-btn" data-precio="{{ producto.precio }}">{{ producto.precio }}</a>
                </div>
            </article>
    {% endfor %}
{% endfor %}

{% for producto in productos %}
    <article class="card__article">
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="card__img producto-imagen">

        <div class="card__data">
        <span class="card__description">XXXXXXXXXXXXXX</span>
        <h2 class="card__title card-title">{{ producto.producto }}</h2>
        <a href="#" class="card__button btn btn-primary precio-btn" data-precio="{{ producto.precio }}">{{ producto.precio }}</a>
        </div>
    </article>
{% endfor %}