{% extends "alumnos/base.html"%}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles_cards.css' %}">
{% endblock %}

{% block title %}REGISTRO{% endblock %}
{% block content %}
<div class="container" style="margin-top: 5%; margin-left: 20%; margin-right: 20%;">
    <form method="POST" action="" class="mt-2" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
    <button type="submit" class="btn btn-success">Crear cuenta!</button>
    </form>
</div>
{% endblock %}
